################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DAL/obj
/.vs
/DAL/bin/Debug/net6.0
/Entities/bin/Debug
/Entities/obj
/Repositories/obj
/Ultilities/bin/Debug/net6.0
/Ultilities/obj
/Xtech.CMS/obj
/Xtech.CMS/Properties
