################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DAL/obj
/.vs
/DAL/bin/Debug/net6.0
/Entities/bin/Debug
/Entities/obj
/Repositories/obj
/Ultilities/bin/Debug/net6.0
/Ultilities/obj
/Xtech.CMS/obj
/Xtech.CMS/Properties
/DAL/bin/Release/net6.0
/Entities/bin/Release/net6.0
/Repositories/bin
/Ultilities/bin/Release/net6.0
/Xtech.CMS/bin
/Xtech.CMS/uploads/images/2024/3/29
